<div class="container">
    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Player's name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Character's name">
            </div>
        </div>
        <div class="row">
            <p>Change your password</p>
        </div>
        <div class="row">
            <div class="col">
                <input type="password" class="form-control" placeholder="Old password">
            </div>
            <div class="col">
                <input type="password" class="form-control" placeholder="New password">
            </div>
            <div class="col">
                <input type="password" class="form-control" placeholder="Confirm password">
            </div>
        </div>
        <div class="row">
            <p>Choose your avatar</p>
        </div>
        <div class="row">
            <img src="assets/img/avatar/bird.png" alt="bird avatar">
            <img src="assets/img/avatar/bunny.png" alt="bunny avatar">
            <img src="assets/img/avatar/duck.png" alt="duck avatar">
            <img src="assets/img/avatar/fish.png" alt="fish avatar">
            <img src="assets/img/avatar/frog.png" alt="frog avatar">
            <img src="assets/img/avatar/mouse.png" alt="mouse avatar">
            <img src="assets/img/avatar/squirrel.png" alt="squirrel avatar">
            <img src="assets/img/avatar/turtle.png" alt="turtle avatar">
        </div>
        <div class="button-container">
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>