<div class="container">
    <div class="container" id="accordion">
        <h3>The Legend of Zelda</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a [routerLink]="['/z1-walk-l0']">
                        <div class="walkthrough-level" id="gathering">
                            <p>The Gathering</p>
                            <img src="assets/img/z1/level-map/gathering.png" alt="the gathering">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row levels">
                <div class="col">
                    <a [routerLink]="['/z1-walk-l1']">
                        <div class="walkthrough-level">
                            <p>Level 1: The Eagle</p>
                            <img src="assets/img/z1/level-map/eagle.png" alt="the eagle">
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a [routerLink]="['/z1-walk-l2']">
                        <div class="walkthrough-level">
                            <p>Level 2: The Moon</p>
                            <img src="assets/img/z1/level-map/moon.png" alt="the moon">
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a [routerLink]="['/z1-walk-l3']">
                        <div class="walkthrough-level">
                            <p>Level 3: The Manji</p>
                            <img src="assets/img/z1/level-map/manji.png" alt="the manji">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row levels">
                <div class="col">
                    <a [routerLink]="['/z1-walk-l4']">
                        <div class="walkthrough-level">
                            <p>Level 4: The Snake</p>
                            <img src="assets/img/z1/level-map/snake.png" alt="the snake">
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a [routerLink]="['/z1-walk-l5']">
                        <div class="walkthrough-level">
                            <p>Level 5: The Lizard</p>
                            <img src="assets/img/z1/level-map/lizard.png" alt="the lizard">
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a [routerLink]="['/z1-walk-l6']">
                        <div class="walkthrough-level">
                            <p>Level 6: The Dragon</p>
                            <img src="assets/img/z1/level-map/dragon.png" alt="the dragon">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row levels">
                <div class="col">
                    <a [routerLink]="['/z1-walk-l7']">
                        <div class="walkthrough-level">
                            <p>Level 7: The Demon</p>
                            <img src="assets/img/z1/level-map/demon.png" alt="the demon">
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a [routerLink]="['/z1-walk-l8']">
                        <div class="walkthrough-level">
                            <p>Level 8: The Lion</p>
                            <img src="assets/img/z1/level-map/lion.png" alt="the lion">
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a [routerLink]="['/z1-walk-l9']">
                        <div class="walkthrough-level">
                            <p>Level 9: Death Mountain</p>
                            <img src="assets/img/z1/level-map/death-mountain.png" alt="death mountain">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <h3>The Adventure of Link</h3>
        <div></div>
        <h3>A Link to the Past</h3>
        <div></div>
        <h3>Link's Awakening</h3>
        <div></div>
    </div>
</div>
