<div class="container">
    <div class="container" id="accordion">
        <h3>Bombs</h3>
        <div class="container">
            <div class="summary">
                <h5>New Items</h5>
                <ul>
                    <li>Sword</li>
                    <li>Bombs</li>
                </ul>
            </div>
            <div class="details">
                <img src="assets/img/z1/screenshot/0.1-1.png">
                <div class="directions">
                    <p>The game begins by tossing Link right into the Overworld. Right from the beginning, Link can go straight to the first dungeon. However, there are a wide variety of goodies that Link can collect beforehand and we will be gathering those all in this chapter. Skip ahead to Chapter 2 to progress straight to the first dungeon.</p>
                    <p>Right from the start, enter the cave to find an Old Man who will give you your first item, the Sword.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.1-2.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.1-3.png">
                    </div>
                </div>
                <div class="directions">
                    <p>Our next mission is to collect some Bombs. There is a shop that sells bombs at the far east of the map. From the start screen head right 8 screens and then up 1 screen. Along the way, defeat the Octoroks, Tektites, and Leevers to collect rupees. You will need to acquire 20 rupees in order to purchase the bombs. Furthermore, the blue octoroks that you encounter will occasionally drop bombs as a reward. Just keep defeating enemies to pile up some rupees. Once you reach the coast, you will encounter an enemy Zola. These water creatures can be defeated, but they are best just avoided for the time being. Once you reach the cave, enter it and purchase the Bombs for 20 rupees.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.1-4.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.1-5.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.1-6.png">
                    </div>
                </div>
                <div class="row directions">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.1-7.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.1-8.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.1-9.png">
                    </div>
                </div>
            </div>
        </div>
        <h3>Heart Containers</h3>
        <div class="container">
            <div class="summary">
                <h5>New Items</h5>
                <ul>
                    <li>Heart Container #1</li>
                    <li>Heart Container #2</li>
                </ul>
            </div>
            <div class="details">
                <img src="assets/img/z1/screenshot/0.2-1.png">
                <div class="directions">
                    <p>With bombs in hand, head back down 1 screen, and left 4 screens. Place a bomb against the northern wall to reveal a secret cave. Inside the Old Man will offer you some Red Medicine or a Heart Container. Grab the Heart Container to increase your overall health.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.2-2.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.2-3.png">
                    </div>
                </div>
                <div class="directions">
                    <p>From the cave, head up 2 screens, right 2 screens, up a screen, and right a screen. Along the way you will encounter enemy Moblins. These enemies have a bit more health than prior enemies and it’s best to just avoid them. There are two statues on this screen and if you touch the statue on the right, the enemy Armos will awaken and it will start to move rapidly across the screen. Quickly head down the staircase here to find a Secret Moblin, who will give you 10 rupees.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.2-4.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.2-5.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.2-6.png">
                    </div>
                </div>
                <div class="directions">
                    <p>Walk back left a screen and up a screen to find two more Armos statues. Touch the one on the right to find another Secret Rupee Location, this one containing 30 rupees. Continue heading up one screen and place a bomb against the northern wall. This will reveal yet another secret rupee location, this one holding 10 rupees.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.2-7.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.2-8.png">
                    </div>
                </div>
                <div class="directions">
                    <p>Walk to the left a screen and place a bomb at the bottom-right portion of the large center rock. This will reveal a secret cave where Link can acquire another Heart Container.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.2-9.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.2-10.png">
                    </div>
                </div>
            </div>
        </div>
        <h3>White Sword</h3>
        <div class="container">
            <div class="summary">
                <h5>New Items</h5>
                <ul>
                    <li>Old Man's Letter</li>
                    <li>Blue Candle</li>
                    <li>White Sword</li>
                </ul>
            </div>
            <div class="details">
                <img src="assets/img/z1/screenshot/0.3-1.png">
                <div class="directions">
                    <p>From the cave, head right a screen, up a screen, and then right two screens. The enemy Peahats found here can only be defeated when they come to a stop. There is a secret passage along the northern wall of this screen, just to the right of the entrance to the cave. Refer to the screenshot for the exact location. After heading up, entering the cave here to find another secret rupee location, this one holding 100 rupees.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.3-2.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.3-3.png">
                    </div>
                </div>
                <div class="directions">
                    <p>Walk back down a screen, then left a screen, and up the staircase. Enter the cave here to find an Old Man who will give you a Letter. After showing this to the Old Woman, Link will be able to purchase potions.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.3-4.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.3-5.png">
                    </div>
                </div>
                <div class="directions">
                    <p>Go back down the steps and then head left a screen. Climb the steps here and then head left a screen. Enter the cave here to find a shop where you can purchase the Blue Candle.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.3-6.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.3-7.png">
                    </div>
                </div>
                <div class="directions">
                    <p>After getting the candle, walk down the steps and then head left two screens. Climb the steps on this screen and you’ll encounter a Blue Lynel. This is strongest enemy in the overworld, but fortunately, there is only one of them. Be patient and don’t rush in, as the lynel will shoot out a very damaging magic beam towards Link. Avoid the enemy if you can and rush over to the cave. Now that you have five heart containers, the Old Man will give you the White Sword. This sword does twice the damage as the Wooden Sword. With the new sword in hand, exit the cave.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.3-8.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.3-9.png">
                    </div>
                </div>
            </div>
        </div>
        <h3>Magical Shield</h3>
        <div class="container">
            <div class="summary">
                <h5>New Items</h5>
                <ul>
                    <li>Heart Container #3</li>
                    <li>Magical Shield</li>
                </ul>
            </div>
            <div class="details">
                <img src="assets/img/z1/screenshot/0.4-1.png">
                <div class="directions">
                    <p>After acquiring the White Sword, head back down a screen, left three screens, down a screen, and then right a screen. Avoid the falling Boulders along the way. There are five green bushes on this screen. Pull out the candle and burn down the bush at the bottom-right to reveal a staircase. Walk down the steps to find 30 more rupees.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.4-2.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.4-3.png">
                    </div>
                </div>
                <div class="directions">
                    <p>Continue down two screens and then once again use the blue candle to burn down the bush near the top-right corner of the screen. Inside you’ll find another secret rupee location, this one containing 30 more rupees.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.4-4.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.4-5.png">
                    </div>
                </div>
                <div class="directions">
                    <p>Walk to the left a screen and again pull out the blue candle. Burn the fifth bush from the right and enter the cave to find another full Heart Container.</p>
                    <p>Continue walking to the left a screen and use the candle to burn down the corner bush. Here you can purchase the Magical Shield for the cheaper price of 90 rupees. There is also bait for sale, but we will buy that in just a moment.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.4-6.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.4-7.png">
                    </div>
                </div>
            </div>
        </div>
        <h3>Arrows and Medicine</h3>
        <div class="container">
            <div class="summary">
                <h5>New Items</h5>
                <ul>
                    <li>Arrows</li>
                    <li>Water of Life</li>
                    <li>Red Medicine</li>
                </ul>
            </div>
            <div class="details">
                <img src="assets/img/z1/screenshot/0.5-1.png">
                <div class="directions">
                    <p>Walk down a screen and you’ll find six green bushes near the center of the screen. Burn down the push at the bottom-left to find a secret rupee location that contains 10 rupees.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.5-2.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.5-3.png">
                    </div>
                </div>
                <div class="directions">
                    <p>Next, we want to head to the right three screens, up a screen, and then right a screen. Enter the cave and purchase the Arrow for 80 rupees. We won’t be able to use the arrows until we get the bow, but we will acquire that shortly.</p>
                    <p>From the cave, walk to the right a screen and then down a screen. There are a number of green bushes in the middle of this screen. Burn the one at the bottom-left to reveal a staircase that leads to 10 rupees.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.5-4.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.5-5.png">
                    </div>
                </div>
                <div class="directions">
                    <p>Continue down one screen and you’ll find a similar setup of bushes. This time use the blue candle to burn the lower of the two bushes that is in the third column from the left. Inside this cave you’ll find a secret rupee location that contains 100 rupees.</p>
                    <p>Now travel back left four screens. This puts you back just one screen north of the starting screen. Use a bomb to blast open a secret wall to the north. Walk inside and grab 30 more rupees.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.5-6.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.5-7.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.5-8.png">
                    </div>
                </div>
                <div class="directions">
                    <p>Walk left three screens and enter the cave here. Equip the Letter that you got from the Old Man and show it to the Old Woman. She will now allow you to purchase medicine. Both types of medicine will restore Link’s health completely. The Blue Medicine can only be used once. The Red Medicine can be used twice. After one use, the red medicine will turn into blue medicine. Go ahead and snag some red medicine and then leave the shop.</p>
                </div>
            </div>
        </div>
        <h3>Blue Ring</h3>
        <div class="container">
            <div class="summary">
                <h5>New Items</h5>
                <ul>
                    <li>Blue Ring</li>
                </ul>
            </div>
            <div class="details">
                <img src="assets/img/z1/screenshot/0.6-1.png">
                <div class="directions">
                    <p>We have one last goody to acquire before heading to the first level. From the potion shop, head left a screen, down a screen, and then left two screens along the lower path. The wall to the north has a small divot. Place a bomb just to the right to reveal a secret cave and inside you’ll find 30 more rupees.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.6-2.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.6-3.png">
                    </div>
                </div>
                <div class="directions">
                    <p>Walk up and right a screen and you’ll see a series of brown bushes. Burn the bush that is third from the top in the center of the screen to reveal a staircase. Inside you will find another secret rupee location, this one containing 100 rupees.</p>
                    <p>Walk up a screen and then left a screen to find a series of bushes. Burn the bush that is at the bottom-right of the eight centered bushes to reveal a staircase. Inside you will find 10 more rupees.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.6-4.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.6-5.png">
                    </div>
                    <div class="col">
                        <img src="assets/img/z1/screenshot/0.6-6.png">
                    </div>
                </div>
                <div class="directions">Finally, we can now get the Blue Ring. Walk to the right three screens and then up two screens. There are six armos statues in this area. Touch the top-middle statue to activate it and to reveal a staircase. Inside, you can purchase the Blue Ring for 250 rupees.</div>
            </div>
        </div>
    </div>
</div>