<div class="container" id="nav-template">
    <!-- <a [routerLink]="['/avatar']"><img src="assets/img/avatar-initial.png" alt="generic avatar" id="avatar"></a> -->
    <img src="assets/img/avatar-initial.png" alt="generic avatar" id="avatar">
    <div class="nav-icons">
        <!-- <a [routerLink]="['/home']"> -->
            <div class="nav-template-button" id="nav-template-home">
                <img src="assets/img/home.png" alt="home icon">
                <p>Home</p>
            </div>
        <!-- </a> -->
        <div class="nav-template-button" id="nav-template-stats">
            <img src="assets/img/stats.png" alt="statistics icon">
            <p>Statistics</p>
        </div>
        <!-- <a [routerLink]="['/walkthroughs-landing-page']"> -->
            <div class="nav-template-button" id="nav-template-walk">
                <img src="assets/img/walk.png" alt="walkthrough icon">
                <p>Walkthroughs</p>
            </div>
        <!-- </a> -->
        <div class="nav-template-button" id="nav-template-guides">
            <img src="assets/img/guide.png" alt="guide icon">
            <p>Guides</p>
        </div>
        <div class="nav-template-button" id="nav-template-maps">
            <img src="assets/img/map.png" alt="map icon">
            <p>Maps</p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
