<div class="container">
    <a [routerLink]="['/avatar']"><img src="assets/img/avatar-initial.png" alt="generic avatar" id="avatar"></a>
    <div class="nav-icons">
        <a [routerLink]="['/home']">
            <div class="nav-template-button">
                <img src="assets/img/home.png" alt="home icon">
                <p>Home</p>
            </div>
        </a>
        <div class="nav-template-button">
            <img src="assets/img/stats.png" alt="statistics icon">
            <p>Statistics</p>
        </div>
        <!-- <a [routerLink]="['/walkthroughs-landing-page']"> -->
            <div class="nav-template-button">
                <img src="assets/img/walk.png" alt="walkthrough icon">
                <p>Walkthroughs</p>
            </div>
        <!-- </a> -->
        <div class="nav-template-button">
            <img src="assets/img/guide.png" alt="guide icon">
            <p>Guides</p>
        </div>
        <div class="nav-template-button">
            <img src="assets/img/map.png" alt="map icon">
            <p>Maps</p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
